* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --green-100: #00B37E;
  --green-200: #00875F;
 
  --gray-100: #E1E1E6;
  --gray-200: #C4C4CC;
  --gray-300: #8D8D99;
  --gray-400: #7C7C8A;
  --gray-500: #323238;
  --gray-600: #202024;
  --gray-700: #121214;

  --red-100: #F75A68;
}

:focus{
  outline:transparent;
  box-shadow: 0 0 0 1px var(--green-100);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--gray-700);
}

body, input, textarea, select, button {
  font: normal 1.6rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  transition: 0.5s;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

