.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1.6rem;
  background: var(--gray-600);
  max-height: 10rem;
}

.header img{
  width:6rem;
  height:6rem;
}